body {
  background: #2c3e50;
  color: white;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  margin: 0 2rem;
}

.header {
  font-size: 2.8rem;
  margin: 0;
}

.subheader {
  margin: 0;
}

p {
  font-size: 1.4rem;
}

.secondary {
  color: #8a8a8a;
}

.link,
.link:visited {
  color: #8a8a8a;
}

.link:hover,
.link:active {
  color: white;
}

.contact {
  margin-bottom: 2rem;
}

.contact-link {
  margin: 0.25rem;
  text-decoration: none;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.first {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.second {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

.third {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.forth {
  -webkit-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.fifth {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
